.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }
  
  .cardsList {
    display: flex;
    flex-wrap: wrap;
  
    margin-right: 40px;
    margin-left: 40px;
  
    gap: 40px;
    padding: 0;
  }